Data/*
Glove/vocab_full.txt
Glove/vocab_cut.txt
Glove/vocab.pkl
Glove/cooc.pkl
Glove/embeddings.npy
BERT-based/artifacts/
BERT-based/output/
BERT-based/wandb/
BERT-based/__pycache__/
BoW_TFIDF/cr7_reunited-cr7
BoW_TFIDF/__pycache__
BoW_TFIDF/wandb
BoW_TFIDF/.virtual_documents/
.ipynb_checkpoints/

